body {
  font-family: 'Courier New', Courier, monospace;
  padding: 30px;
}

h1, h2, h4, h5 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

td {
  padding: 5px;
  border-bottom: 1px solid #eee;
}

textarea {
  width: 300px;
  height: 200px;
}